.row.expanded
  .small-12.columns
    %h2 Completed surveys

.row.expanded
  .small-10.columns
    %table
      %thead
        %th User
        %th Last edited
        %th Completed?
      %tbody
        - @surveys.sort_by{|x| x.user.display_name.downcase }.each do |survey|
          %tr
            %td= link_to survey.user.display_name, [:admin, survey]
            %td= l survey.updated_at, format: :short
            %td
              = survey.completed == true ?  'yes' : 'no'
              -# if can? :destroy, survey  
              -# = link_to 'Delete', [:admin, survey], method: :delete, class: [:button, :alert, :small], data: {confirm: 'Are you sure?'}
          