.devise_new_session
  .row.expanded
    .small.12.columns.text-center
      %h1 Welcome to Experiment #2!

  .row.expanded
    .small.12.columns.text-center
      %p Temporary's activities have ceased but Experiment #2 is being designed.

      %p Join the process and be part of the next phase!

      %h3= link_to 'https://experiment2.biathlon.io', 'https://experiment2.biathlon.io'
