.devise_new_session
  .row.expanded
    .small.12.columns.text-center
      %h1 Welcome to Kuusi Palaa!

  .row.expanded
    .small.12.columns.text-center
      %p Temporary's activities have ceased but Kuusi Palaa will hopefully open in March 2018.

      %p Join the process and be part of the next phase!

      %h3= link_to 'https://kuusipalaa.fi', 'https://kuusipalaa.fi'
