@import 'variables';

header {
  .home_header {
//    margin-bottom: 0.875rem;
    background: url(/assets/home_header_bg.jpg) no-repeat top center;
    background-size: cover;
    height: 630px;
    padding: 1rem;
  }
}


.news_container {
  background-color: white;

  -webkit-columns: 5 300px;
  -moz-columns: 5 300px;
  columns: 5 300px;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
  padding: 0.875rem 1rem;
  article {
    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    -o-column-break-inside:avoid;
    -ms-column-break-inside:avoid;
    column-break-inside:avoid;
    &.even {
      border: 2px solid $yellow;
      padding: 0.875rem;
      margin-bottom: 3rem;
    }
    &.open_day {
      background-color: $grey;
      
    }
    .post, .open_day {
      border-top: 9px solid black;
      padding: 0.875rem 0;
      .meta {
        font-family: $inconsolata;
        font-weight: bold;
        color: $yellow;
        span {
          color: $black;
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
      .dates {
        font-family: $heebo;
        font-weight: 900;
        .month {
          color: white;
          
          font-size: 1.875em
        }
        .days {
          color: $yellow;
          .times {
            color: $white;
            font-size: 1.438em;
          }
          .day {
            font-size: 9.500rem;
            line-height: 0.9em;
          }
          .range_day {
            font-size: 5.313rem;
            line-height: 6rem;
          }
        }
      }
      .title {
        font-family: $inconsolata;
        font-size: 1.259rem;
        font-weight: bold;
        text-transform: uppercase;
        a {
          color: $black;        
        }
      }
      .body {
        font-family: $ptsans;
        font-size: 0.881em;
        p {
          margin-bottom: 0;
        }
      }
      img {
        padding: 0.875rem 0;
      }
    }
  }
}