@import 'variables';

header {
  .home_header {
//    margin-bottom: 0.875rem;
//    background: url(/assets/home_header_bg.jpg) no-repeat center center;
    background-size: cover;
//    height: 580px;
    padding: 1rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .news_container {
    article {
      &.sizer {
        width: 100%;
      }
      width: 100%;
    }
  }
}

@media screen and (min-width: 40.063em) and (max-width: 64em) {
  header {
    .home_header {
      height: 345px;
    }
    .top-bar-right {
      padding-left: 0;
    }
  }
  .news_container {
    article {
      &.sizer {
        width: 50%;
      }
      width: 50%;
    }
  } 
}

@media screen and (min-width: 64.063em) and (max-width: 90em) {
  .news_container {
    article {
      &.calendar {
        width: 66.66666%;
      }
      &.sizer {
        width: 33.33333%;
      }
      width: 33.3333%;
    }
  } 
}

@media screen and (min-width: 90.063em) {
  .news_container {
    article {
      &.calendar {
        width: 50%;
      }
      &.sizer {
        width: 25%;
      }
      width: 25%;
    }
  } 
}  

.news_container {
  background-color: white;
//  margin-left: .5em;
//    padding-left: 0;
//    list-style: none;
//    display: flex;
//    flex-wrap: wrap;
//    align-items: flex-start;
    
//
//  -webkit-columns: 5 300px;
//  -moz-columns: 5 300px;
//  columns: 5 300px;
//  -webkit-column-gap: 2.25em;
//  -moz-column-gap: 2.25em;
//  column-gap: 2.25em;
  padding: 0 0 0.875rem 0rem;
  article {
    //    -webkit-column-break-inside:avoid;
    //    -moz-column-break-inside:avoid;
    //    -o-column-break-inside:avoid;
    //    -ms-column-break-inside:avoid;
    //    column-break-inside:avoid;
        border: 2px solid white;
        box-sizing: border-box;
        padding: 1.2rem;
        margin-left: 0;
    //      padding-left: 0;


    &:hover {
      border: 2px solid $yellow;
    }

    &.open_day {
      background-color: $grey;
      padding: 1.2rem;
      .body {
        text-align: center;
        p {
          font-size: 0.9rem;
          margin-bottom: 1rem !important;
        }
      }
    }
    .post, .open_day {
      .rsvp {
        font-family: $inconsolata;
        font-size: 1.25rem;
        font-weight: bold;
        .survey_banner {
          background-color: red;
          width: 100%;
          padding: 1.5rem;
          font-family: $heebo;
          text-align:center;
          a {
            color: white;
          }
          color: white;
   
          font-size: 2.4rem;
          .smaller {
            font-family: $ptsans;
            font-size: 1rem;
            text-align: left;
            color: black;
            font-weight: bold;
          }
        }
      }
      border-top: 9px solid black;
      padding: 0.875rem 0 2.5rem 0;
      .meta {
        font-family: $inconsolata;
        font-weight: bold;
        color: $yellow;
        span {
          color: $black;
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
      &.comment {
        padding-bottom: 0;
        .body {
          padding-top: 0;
          .attribution {
            font-style: italic;
            font-size: 0.9rem;
            margin-bottom: 1rem;
          }
          .content {
            img {
              height: auto;
              max-width: 25px;
              margin-right: 4px;
              padding: 0;
            }
            a {
              color: $blue;
            }
          }
        }

      }
      .dates {
        font-family: $heebo;
        font-weight: 900;
        .month {
          color: white;
          
          font-size: 1.875em
        }
        .days {
          color: $yellow;
          .times {
            color: $white;
            font-size: 1.438em;
          }
          .day {
            font-size: 9.500rem;
            line-height: 0.9em;
          }
          .range_day {
            font-size: 5.313rem;
            line-height: 6rem;
          }
        }
      }
      .proposed_by {
        font-family: $inconsolata;
        font-size: 0.959rem;
        font-weight: bold;
      } 
      .pledge_count, .neede {
        font-family: $inconsolata;
        font-size: 1.259rem;
        font-weight: bold;
      }
      .title {
        font-family: $inconsolata;
        font-size: 1.259rem;
        margin-bottom: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        a {
          color: $black;        
        }
      }
      .body {
        font-family: $ptsans;
        font-size: 0.881em;
        padding-top: 1rem;
        small {
          display: none;
        }
        span.quote {
          font-family: serif;
          padding-top: 0.4rem;
          font-size: 1.6rem;
          line-height: 0;
          font-style: italic;
        }
        p {
          margin-bottom: 0.4rem;
        }
      }
      img {
        padding: 0.875rem 0;
      }
    }
    
    #calendar {
      width: 100%;
      padding-top: 1rem;
      

      .fc-toolbar {
        display: none;
        button {
          &.fc-today-button {
            display: none;
          }
          margin: 0.4rem;
          height: 1.5rem;
          background: black;
          color: white;
          border: none;
          box-shadow: none;
          text-shadow: none;
          span {
            font-family: $inconsolata;
            text-transform: uppercase;
            font-size: 1rem;
          }
        }
        h2 {
          display: none;
          font-family: $heebo;
          text-transform: uppercase;
          font-size: 1.438rem !important;
        }
        .fc-left {
          float: right;
          .fc-button-group {

          }
        }
        .fc-center {
          float: left;
        }
        .fc-right {
          .fc-button-group {
            display: none;
          }
        }
      }
      .fc-time {
        display: none;
        color: $black;
      }
      .fc-cancelled {
        .fc-title {
          text-decoration: line-through;
          opacity: 0.6;
          span.cancelled {
            text-decoration: none;
            color: red;
          }
        }
      }
      .fc-title {
        color: $black;
      }

      span.fc-title {
          padding: 1px !important;
          text-overflow: ellipsis;
          white-space: pre-line;
          font-size: 0.7rem;
      }
      .fc-event-container {
        &.fc-today {
          background-color: transparent;
        }
        .fc-event {
          background-color: $grey;
          font-family: $inconsolata;
          border: none;
          padding: 0.3rem;
//          margin: 0 0 0.4rem 1.4rem;
        }
      }
      .fc-day-grid-event .fc-content {
        white-space: inherit;
      }
      .fc-toolbar {
        margin-bottom: 0.2rem;
        .fc-left, .fc-left .fc-button-group, .fc-right .fc-button-group {
          button {
            box-sizing: border-box;
            margin: 0.4rem;
            height: 3.5rem;
            padding: 0.3rem;
            font-size: 0.75rem;
            white-space: nowrap;
            cursor: pointer;
          }
        }
    
        h2 {
          font-size: 1.2rem;
          font-family: $heebo;
    
        }
        .fc-center {

        }
      }
    }
    .fc-basic-view td.fc-day-number {
      font-family: $heebo;
      font-size: 2rem;
      line-height: 1.1em;
      color: $yellow;
      font-weight: 900;
      border-top: 5px solid black;
    }

    .fc-row {

      &:first-child table {
        border: none;
        margin-bottom: 0;
      }
      table {
        border: none;
        border-collapse: separate;
        border-spacing: 0px;
      }
    }
    .fc {
      td {
        border: none;
        min-height: 150px;
        &.fc-today {
          border: none;
  
        }
      }
    }
    .fc-view-container .fc-scroller {
      overflow-y: hidden !important;
    }
    .fc-basic-view .fc-body .fc-row {
      margin-bottom: 0.4rem;
    }

    .fc-unthemed {
      thead {
        background: none;
        border: none;
      }
      .fc-today {
        background-color: $yellow;
      }
      tbody {
        border: none;
      }
      th.fc-day-header {
        border: none;
        font-family: $heebo;
        font-size: 1em;
        font-weight: 900;
        padding-bottom: 0.4rem;
        text-align: left;
      }
    }
    
  }
}

.front_blurb_stripe {
  background-color: $yellow;
  padding: 1.2rem;
  .inner {
    border: 9px solid black;
    margin: 0;
    background-color: white;
    color: black;
    padding: 2.2rem 0;
    font-family: $ptsans;
    font-size: 1.4rem;
    text-align: center;
    a {
      color: $blue;
    }
  }
}