@import 'variables';

.post_single {
  padding-top: 3.438rem;
  .post {
    border-top: 9px solid black;
    padding: 0.875rem 0;
    .meta {
      font-family: $inconsolata;
      font-weight: bold;
      color: $yellow;
      span {
        color: $black;
        text-transform: uppercase;
        font-size: 1rem;
      }
    }
    .title {
      font-family: $inconsolata;
      font-size: 1.259rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      a {
        color: $black;        
      }
    }
    .body {
      font-family: $ptsans;
      font-size: 0.881em;
      p {
        margin-bottom: 1rem;
      }
    }
    img {
      padding: 0.875rem 0;
    }
  }
}