@import 'variables';

.post_single {
  padding-top: 3.438rem;
  .post {
    border-top: 9px solid black;
    padding: 0.875rem 0;
    .meta {
      font-family: $inconsolata;
      font-weight: bold;
      color: $yellow;
      span {
        color: $black;
        text-transform: uppercase;
        font-size: 1rem;
      }
    }
    .title {
      font-family: $inconsolata;
      font-size: 1.259rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      a {
        color: $black;        
      }
    }
    .attribution {
      font-style: italic;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
    .body {
      span.quote {
        font-family: serif;
        padding-top: 0.4rem;
        font-size: 1.6rem;
        line-height: 0;
        font-style: italic;
        float: left;
      }
      .quoted {
        margin: 0 1.25rem;
      }
      font-family: $ptsans;
      font-size: 0.881em;
      p {
        margin-bottom: 1rem;
      }
    }
    img {
      padding: 0.875rem 0;
    }
  }
}