@import 'variables';

html, body {
  margin:0;
  padding:0;
  height:100%;
}
header {
  a.logo {
    float: left;
  }
  .open_or_closed {
    float: left;
    font-size: 3.7rem;
    font-weight: bold;
    line-height: 1;
    padding-left: 1.2rem;
    padding-top: 0.8rem;
    font-family: $inconsolata;
    p {
      color: black !important;
    }
    small {
      float: right;
      font-size: 1.2rem;
      padding: 0.7REM 0;
    }
  }
  
  margin: 0.938rem 0.938rem 0 0.938rem;
  // top bar
  &.home {
    .top-bar {
      .top-bar-left {
        padding: initial;
      }
    }
  }
  .dropdown.menu.medium-horizontal>li.opens-right>.is-dropdown-submenu {
    z-index: 3;
  }
  .top-bar {
    clear: left;
    padding: 0;
    background-color: $yellow;
    .top-bar-left {
      padding: 0 2rem;
    }
    ul {
      padding: 0.4rem 0;
      background-color: $yellow;
      li {
        a.first {
          padding-left: 0.5rem;
          text-align: left;
        }
        background-color: $yellow;
        font-family: $inconsolata;
        font-size: 1.133em;
        font-weight: bold;
        text-align: left;
        &.active, a.active {
          border: 1px solid black;
          a {
            background: none;
            color: black;
          }
        }
        &.first {
          a {
            padding: 0.7rem 1rem 0.7rem 0;
          }
        }
      }
    }
  }
}

body {
  background-color: $yellow;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  a {
    color: $blue;
  }
}
h1 {
  font-family: $heebo;
  font-size: 3.438em;
  line-height: 3.9rem;
  font-weight: 900;
}

a {
  color: black;

  &:hover {
    text-decoration: underline;
    color: $grey;
  }
}
p a {
  color: $blue;
}

.button {
  color: black;
  font-family: $inconsolata;
  font-weight: bold;

}

#outer_container {
  background-color: $yellow;
  min-height:100%;
  padding-bottom: 7.5rem;
  position:relative;
}

tbody tr:nth-child(even) {
  background-color: initial;
}
tr.even {
  background-color: #efefef !important;
}

table {
  td.small {
    max-width: 200px;
    font-size: 0.75rem;
  }
}
section.main_container {
//  padding: 4rem 0;
//  border-top: 5px solid black;
  background-color: white;
  color: black;
  padding-bottom: 7.5rem;
}
/* Small Navigation */
.logo-small {
  float: right;
}
.title-bar {
  padding: 0 .5rem;
}

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}

/* Experiments */
.experiments_index, article.instance_single {
  padding: 2rem 0;
  background-color: white;
  .section {
    margin-top: 4.5rem;
  }
  .image {
    clear: both;
  }
  h1, h3 {
    padding: 0 ; margin: 0 0 1rem 0;
    text-transform: uppercase;
    float: left;
    font-weight: 900;
  }
  h1 {
    border-bottom: 8px solid black;
    .sequence {
      font-size: .5em;
    }
  }
  
  h3 {
    border-bottom: 5px solid black;
  }
  a.experiment {
    border: none;
    &:hover {
      color: black;
      text-decoration: none;
    }
    padding:  0.9375rem;
    .content {
      background-color: $grey;

      padding: 0.563em;
      .cancelled_header {
        color: red;
        .cancelled_title {
          font-size: 1.3rem;
        }
      }
      &.cancelled {
        .meta, .dates, .title, .body, .earn_line {
          opacity: 0.4;
        }
      }
      .meta {
        height: 3.5rem;
        padding: 0.4rem 0;
        margin: 0.2em 0;
        border-top: 8px solid black;
        font-family: $inconsolata;
        text-transform: uppercase;
        font-weight: bold;
        color: $yellow;

        span {
          color: $black;
        }
        &.open-days {
          height: initial;
          margin-bottom: 0;
        }
      }
      .earn_line {
        font-family:$heebo;
        font-size: 1.188rem;
        color: $yellow;
        text-align: center;
      }
      .collapsed {
        padding-top: 1.5rem;
        font-family:$heebo;
        font-size: 1.188rem;
        color: $yellow;
        text-align: center;
        .also_meets {
          color: white;
        }
      }
      .participants {
        text-align: center;
        font-size: 0.813rem;
        margin: 1rem 0 0.2rem 0;
      }
      .temps {
        text-align: center;
        font-size: 1.13rem;
        font-family: "Heebo Black", sans-serif;
        color: #fded57;
        
        a { color: $yellow; }
      }
      .dates {
        font-family: $heebo;
        font-weight: 900;
        .month {
          color: white;
          
          font-size: 1.875em
        }
        .next {
          font-family:$heebo;
          font-size: 1.188rem;
          text-transform: lowercase;
          color: white;
          line-height: 1.25rem;
          
        }
        .ongoing {
          color: $yellow;
          font-family: $heebo;
          font-size: 1.875rem;
          text-transform: uppercase;
        }
        .ongoing_month {
          color: white;
          font-family: $heebo;
          font-size: 1.875rem;
        }
        .days {
          color: $yellow;
          .times {
            color: $white;
            font-size: 1.438em;
          }
          .day {
            font-size: 9.500rem;
            line-height: 0.9em;
          }
          .range_day {
            font-size: 5.313rem;
            line-height: 6rem;
          }
          .divider {
            font-size: 2.375rem;
            line-height: 2.375rem;
            line-height: 4px;
            i {
              line-height: 0;
            }
          }
        }
      }
      .title {
        font-family: $inconsolata;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0.8rem 0;
        font-size: 1.259em
      }
      .body {
        font-family: $ptsans;
        font-size: 0.813rem;
        margin-bottom: 1rem;
      }

    }
  }
}


// Tree view

.experiments_tree {
  background-color: $grey;
  .node circle {
    fill: #fff;
    stroke: $black;
    stroke-width: 1.5px;
  }

  .node {
    font: 10px sans-serif;
  }

  .link {
    fill: none;
    stroke: $yellow;
    stroke-width: 1.5px;
  }
  
}


// Single view
article.instance_single {
  padding-top: 2.438rem;
  
  .temps {
    margin: 1rem 0;
    font-family: $heebo;
    color: #444;
    font-size: 1.1rem;
    .cancelled {
      color: red;
    }
  }
  .proposal_info {
    font-family: $ptsans;
    color: #444;
    a {
      color: $blue;
      font-family: $inconsolata;
      font-weight: bold;
    }
  }
  .participant_header {
    font-family: $heebo;
    font-size: 1.275rem;
    background-color: white;
    border-bottom: 8px solid black;
    float: left;
    margin-bottom: 0.8rem;
  }
  ul {
    clear: both;
  }
  .post {
    border-top: 9px solid black;
    padding: 0.875rem 0;
    .meta {
      font-family: $inconsolata;
      font-weight: bold;
      color: $yellow;
      span {
        color: $black;
        text-transform: uppercase;
        font-size: 1.320rem;
        &.cancelled {
          color: red;
        }
      }
    }
    .title {
      font-family: $inconsolata;
      font-size: 2.373rem;
      line-height: 3.2rem;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: underline;
      a {
        color: $black;        
      }
    }
    .body {
      margin-top: 1.5rem;
      font-family: $ptsans;
      font-size: 1.1rem;
      line-height: 1.9rem;
      p {
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
        line-height: 1.9rem;
      }
    }
    img {
      padding: 0.875rem 0;
    }

  }
  .participant_grid {
    min-height: 120px;

    background-size: cover;
    .participant_overlay {
      background-color: $yellow;
      font-family: $inconsolata;

      position: relative;
      bottom: 20px;
      font-size: 0.9rem;
    }
  }
}

.email_preview {
  padding: 2rem 0;
  .email {
    border-top: 5px solid black;
    padding: 0.875rem 0;
  
    h2 {
      font-family: "Inconsolata", monospace;
        font-size: 2.373rem;
        line-height: 3.2rem;
        font-weight: bold;
        text-transform: uppercase;

    }
    .body {
      font-family: $ptsans;
      h2, h3 {
         font-family: "Inconsolata", monospace;
         text-decoration: underline;
      }
      li {
        a {
          color: $blue;
        }
      }
    }
  }
}
.posts_index {
  padding: 2rem 0;
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0;
  }
}

.submenu {
  ul.menu {
    padding: 0.4rem 2.5rem;
    &.page {
      padding: 0.4rem;
    }
    background-color: $yellow;
    li {
      a.first {
        padding-left: 0.5rem;
        text-align: left;
      }
      background-color: $yellow;
      font-family: $inconsolata;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: left;
      &.active, a.active {
        border: 1px solid black;
        a {
          background: none;
          color: black;
        }
      }
      &.first {
        a {
          padding: 0.7rem 1rem 0.7rem 0;
        }
      }
      
    }
  }
  
}
// modal styling
.reveal {
  border: 6px solid $yellow;
  a {
    color: $blue;
  }
  ul.table_right {
    float: right;
    list-style-type: none;
    li {
      text-align: right;
    }
  }
  .title {
    font-family: $inconsolata;
    font-size: 1.2rem;
    margin-bottom: 1.313rem;
    a {
      font-weight: bold;
      color: black;
      text-decoration: underline;
    }
  }
  .recurring_explanation {
    font-family: $ptsans;
    font-size: 0.933rem;
    margin-bottom: 1.313rem;
  }
  .total {
    float: right;
    border-top: 2px solid black;
    clear: both;
  }
  
  .pledge_info {
    clear: both;
    float: right;
    text-align: right;
    font-style: italic;
    font-size: 0.75rem;
    margin: 1rem 0;
  }
  .schedule_info {
    margin: 1rem 0;
    font-family: $ptsans;
  }
  a.button {
    color: black;
  }
  
}


/* Proposals */
.proposals_index {
  padding: 2rem 0;
  h1 {
    text-transform: uppercase;
  }
  .filters {
    padding: 1rem 0 2rem 0;
    h3 {
      font-family: $heebo;
      font-weight: 900;
      text-transform: uppercase;
      span.filter {
        box-sizing: border-box;
        font-size: 1.15rem;
        font-family: $inconsolata;
        text-transform: initial;
        padding: 0.4rem;
        &.active, &:hover {
          background-color: black;
          border-radius: 4px;
          a { color: $yellow; }
          
        }
      }
    }
  }
  table.proposals {
    border-collapse: separate;
    border-spacing: 1rem;

    thead {
      th {
        font-family: $heebo;
        font-size: 1.875rem;
        background-color: white;
        border-bottom: 8px solid black;
        small {
          font-family: $inconsolata;
          font-size: 0.8rem;
        }
      }
    }
    tbody {
      tr {
        border-collapse: collapse;
        td.border {
          border-bottom: 1px solid $yellow;
        }
        td {
          
          font-family: $ptsans;
          font-size: 1rem;
          vertical-align: top;
          &.pledge_info {
            a i {
              font-size: 1.1rem;
              color: black;
              padding-top: 0.4rem;
            }
            .metadata {
              font-size: 0.8rem;
            }
            .my_pledge {
              clear: both;
              font-size: 0.7rem;
            }
          }
          ul {
            margin: 0; padding: 0;
            list-style-type: none;
            li {
              border-bottom: 1px solid $yellow;
              padding: 0.2rem 0;
              &:nth-last-child(1) {
                border-bottom: none;
              }
            }
          }
          ul.hidden_list {
            display: none;
          }
          .occluded {
            display: none;
            font-size: 0.875rem;
            border: 1px solid $yellow;
            padding: 1rem;
            .title {
              font-family: $heebo;
              font-weight: 900;
              font-size: 1.250rem;
              float: left;
              border-bottom: 5px solid black;
              margin-bottom: 0.4rem;
            }
            .answer {
              clear: left;
            }
          }
          span.cancelled {
            text-decoration: line-through;
            a {
              color: red;
            }
          }
          a {
            color: $blue;
          }
          a.button {
            font-size: 1rem;
            color: black;
            float: right;
            clear: both;
          }

          .comment_status {
            font-size: 0.775rem;
            margin-top: 1.5rem;
            border-top: 1px dotted $yellow;
            float: left;
            padding: 0.3rem 0;
          }
          .avatar {
            max-width: 50px;
            float: left;
            margin-right: 15px;
          }
          .pledge_buttons {
            margin-top: 0.4rem;
          }
          .recurrence, .recurrence p {
            font-weight: normal;
            font-size: 0.8rem;
            color: #444;
            font-family: $ptsans;
            margin: 0.4rem 0;
            clear: both;
          }
          .attended {
            font-size: 0.8em;
          }

          .status {
            font-family: $heebo;
            text-transform: uppercase;
            color: black;
            &.below {
              margin: 0; padding: 0.4rem 0 0 0;
            }
            clear: right;
            font-size: 0.875rem;
//            border: 1px solid $yellow;
            padding: 0.4rem 0;
            margin-bottom: 0.6rem;

          }
          .status_info {
            clear: left;
            font-weight: normal;
            font-size: 0.9em;
            color: #333;
            font-family: $ptsans;
            margin: 0.4rem 0;
          }
          &.name {
            
            font-weight: bold;
            a {
              color: black;
              vertical-align: top;
              text-decoration: underline;
            }

            i {
              font-size: 1.4rem;
              padding-top: 0.4rem;
            }

          }
        }
      }
    }
  }
}

.new_pledge {
  padding: 2rem 0;
  h3 {
    font-family: $heebo;
    text-transform: uppercase;
    font-weight: 900;
    span.title {
      font-family: $inconsolata;
    }
  }
}
form.pledge, form {
  #comment_wrapper {
    position: relative;
  }
  p.inline-hints {
    font-size: 0.7em;
    font-style: italic;
    color: #666;
    padding-top: 0;
    margin-top: 0;
  }
  label.label {
    font-size: 1.05rem;
    padding: 0.2rem 0;
  }
  #mentioned-user-list {
    div.occluded {
      display: none;
    }
  }
  input#pledge_pledge {
    max-width: 15%;
  }
  #comment_input {
    background-color: $grey;
    white-space: pre-wrap;
    height: 250px; 
    max-width: 500px;
    img {
      max-height: 25px;
      margin-left: 0.4rem;
    } 
  }
  #comment_input_textarea {
    display: none;
  }
  li.text {
    position: relative;

  }
  a.delete_pledge {
    margin-top: 2rem;
  }

}

.proposal_form {
  h1 {
    text-transform: uppercase;
     font-weight: 900;
  }
  form {
    label {
      &.label {
        font-family: $heebo;
        font-size: 1.875rem;
        font-weight: 900;
        padding: 0.688rem 0;
        margin: 0.9rem 0;
        border-bottom: 8px solid black;
      }
    }
    #intended {
      display: none;
      &.show {
        display: block;
      }
    }
    table#images {
      tr.fields {
        border-bottom: 2px solid $yellow;
      }
    }
    a.add_nested_fields {
      font-family: $heebo;
      font-size: 1.875rem;
      font-weight: 900;
      padding: 0.688rem 0;
      margin: 0.9rem 0;
      border-bottom: 8px solid black;
    }
    .row {
      .columns {
        padding-left: 0;
      }
    }
    #proposal_require_all_input {
      margin-top: 1.5rem;
    }
    #proposal_require_all {
    
      float: left;
      margin-top: 7px;
    }
    input, textarea {
      border: 2px solid $yellow;
      &:focus {
        outline: 1px solid $yellow;
      }
     
    }
  }
}
/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) { 

  .logo-wrapper {
    position: relative;
    
    .logo {
      width: $logo-width;
      height:  92px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: $logo-margin;
    }
  }

  // Right part
  .top-bar-right {
    width: 50%;
    padding-left: $logo-padding;
    
    ul {
      float: left;
    }
  }
  
  // Left part
  .top-bar-left {
    width:  50%;
    padding-right: $logo-padding;
    
    ul {
      float: right;
    }
  }
}

.calendar_view {
  
  &.stats {
    #calendar .fc-toolbar .fc-right .fc-button-group {
        display: block;
      }
  }
  
  padding: 2rem 0;
  h1 {
    text-transform: uppercase;
  }
  // Calendar
  #calendar {
    
    
    .fc-widget-header {
      th.fc-axis {
        border: none;
        outline: none;
      }
    }
    
    width: 92%;
    padding-top: 2rem;
    .fc-unthemed td.fc-today {
      background-color: $yellow;
    }
    .fc-toolbar {
      button {
        &.fc-today-button {
          display: none;
        }
        margin: 0.4rem;
        height: 3.5rem;
        background: black;
        color: white;
        border: none;
        box-shadow: none;
        text-shadow: none;
        span {
          font-family: $inconsolata;
          text-transform: uppercase;
          font-size: 2.2rem;
        }
      }
      h2 {
        font-family: $heebo;
        text-transform: uppercase;
        font-size: 3.438rem !important;
      }
      .fc-left {
        float: right;
        .fc-button-group {

        }
      }
      .fc-center {
        float: left;
      }
      .fc-right {
        .fc-button-group {
          display: none;
        }
      }
    }

    .fc-time {
      color: $black;
    }
    .fc-title {
      color: $black;
    }

    span.fc-title {
        padding: 5px !important;
        text-overflow: ellipsis;
        white-space: pre-line;
    }
    .fc-event-container {
      &.fc-today {
        background-color: transparent;
      }
      .fc-event {
        background-color: $grey;
        font-family: $inconsolata;
        border: none;
        padding: 0.3rem;
        margin: 0.3rem;
        &.fc-cancelled {
          span.fc-title {
            opacity: 0.6;
            text-decoration: line-through;
          }
        }
      }
    }
    .fc-day-grid-event .fc-content {
      white-space: inherit;
    }
    .fc-toolbar {
      margin-bottom: 0.2rem;
      .fc-left, .fc-left .fc-button-group, .fc-right .fc-button-group {
        button {
          box-sizing: border-box;
          margin: 0.4rem;
          height: 3.5rem;
          padding: 0.3rem;
          font-size: 0.75rem;
          white-space: nowrap;
          cursor: pointer;
        }
      }
    
      h2 {
        font-size: 1.2rem;
        font-family: $heebo;
    
      }
      .fc-center {

      }
    }

  }
}
td.fc-list-item-title {
  a.cancelled {
    text-decoration: line-through;
  }
}

.fc-basic-view td.fc-day-number {
  font-family: $heebo;
  font-size: 3.9rem;
  line-height: 1.1em;
  color: $yellow;
  font-weight: 900;
  border-top: 8px solid black;
}

.fc-row {

  &:first-child table {
    border: none;
    margin-bottom: 0;
  }
  table {
    border: none;
    border-collapse: separate;
    border-spacing: 16px 0px;
  }
}
.fc {
  td {
    border: none;
    min-height: 150px;
    &.fc-today {
      border-style: solid;
      border-left: none;
      border-right: none;
      border-bottom: none;
      background-color: $yellow;
    }
  }
}
.fc-basic-view .fc-body .fc-row {
  margin-bottom: 2rem;
}

.fc-unthemed {
  thead {
    background: none;
    border: none;
  }
  .fc-today {
    background: none;
  }
  tbody {
    border: none;
  }
  th.fc-day-header {
    border: none;
    font-family: $heebo;
    font-size: 1.875rem;
    font-weight: 900;
    padding-bottom: 0.4rem;
    text-align: left;
  }
}

// temporary shit
.experiment {
  border-top: 4px solid black;
  padding: 1rem 0 3rem 0;
}


// proposals
#comments_list {
  margin: 4rem 0;
  .entry {
    padding: 2.5rem;
    border-bottom: 1px dotted #555;
  }
  .comment_avatar  img {
    margin-bottom: 0.4rem;
  }
}

.proposal_detail {
  padding: 2.875rem 0;
  font-weight: bold;
  h1 {
    font-weight: 900;
  }
  .proposed_by {
    font-size: 1.875rem;
    font-family: $heebo;
    padding-bottom: 0.5rem;
    border-bottom: 8px solid black;
    margin-bottom: 3rem;
    float: left;
    clear: both;
  }
  .my_pledge_list {
    ol.proposal_pledge_list {
      li {

        font-weight: normal;
        color: #333;
        margin-bottom: 1rem;
        em {
          font-size: 0.8em;
        }
      }
    }
    a[data-readmore-toggle] {
     color: #333;
     margin-left: 1.5rem;
     margin-bottom: 2rem;
    } 
  }
  .pledge_info {
    .box {
      font-family: $inconsolata;
      font-size: 2.822rem;
      font-weight: bold;
      padding: 0;
      text-align: center;
      .yellow {
        margin-bottom: 1rem;
        padding: 2rem 0;
        background-color: $yellow;
        .small {
          text-align: center;
          clear: both;
          font-size: 0.9rem;
          a {
            color: black;
          }
        }
      }
      .grey {
        margin-bottom: 1rem;
        padding: 2rem 0;
        background-color: $grey;
        .small {
          text-align: center;
          clear: both;
          font-size: 0.9rem;
          a {
            color: black;
          }
        }
      }
      a {
        text-decoration: none;
        .grey {
          padding: 2rem 0;
          background-color: $grey;
          .occluded {
            display: none;
          }
          cursor: pointer;
          &:hover {
            span {
              display: none;
            }
            content: '';
            background-color: $yellow;
          
            .occluded {
              color: black;
             
              display: block;
            }
          }
        }
      }
    }
  }
  .pledge_panel {
    margin-top: 1.5rem;
    a {
      font-size: 1.4rem;
    }
  }
  

  .details {

    border: 2px solid $yellow;
    padding: 1.75rem 1.5rem;
    
    .title {
      font-family: $heebo;
      margin-bottom: 0.4rem;
      border-bottom: 5px solid black;
      margin-bottom: 1rem;
    }
    
    .answer {
      font-weight: normal;
      font-size: 1rem;
      margin-bottom: 2rem;
      .proposal_images {
        img {
          padding-bottom: 1rem;
        }
      }
    }
    
  }
  
}

#comments_list {
  h1 {
    text-transform: uppercase;
  }
  .comment_count {
    font-size: 1.875rem;
    font-family: $heebo;
    padding-bottom: 0.5rem;
    border-bottom: 8px solid black;
    margin-bottom: 3rem;
    float: left;
    clear: both;
  }
  .entry {
    border-top: 2px solid $yellow;
    border-left: 2px solid $yellow;
    border-right: 2px solid $yellow;
  }
  
  .comment_type {
    font-size: 1.25rem;
    font-family: $heebo;
    font-weight: bold;
    padding-bottom: 0.4rem;
    margin-bottom: 0.688rem;
    border-bottom: 5px solid black;
  }
  .date {
    font-family: $ptsans;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1.563rem;
  }
  .comment_content {
    font-family: $ptsans;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 1rem;
    .image_attached img {
      width:initial;
      height: initial;
    }
    img {
      height: 35px;
      width: 35px;
      margin-right: 4px;
    }
    a {
      color: $blue;
    }
    p {
      img {
        max-height: 30px;
        margin-left: 0.4rem;
      }
    }
    .extra_info {
      margin-bottom: 2rem;
      font-family: $inconsolata;
      font-size: 0.875rem;
    }
  }
}


#comment_form {
  padding: 2.5rem;
  border: 2px solid $yellow;
  h3 {
    font-size: 1.25rem;
    font-family: $heebo;
    font-weight: bold;
    padding-bottom: 0.4rem;
    margin-bottom: 0.688rem;
  }
  p.small {
    clear:left;
    font-size: 0.875rem;
  }
  form {
    textarea {
      background-color: $grey;
    }
    input[type=submit] {
      font-family: $inconsolata;
      font-size: 1rem;
    }
    #comment_wrapper {
      position: relative;
    }
    #mentioned-user-list {
      div.occluded {
        display: none;
      }
    }
    #comment_input {
      background-color: $grey;
      white-space: pre-wrap;
      height: 250px; 
      img {
        max-height: 25px;
        margin-left: 0.4rem;
      } 
    }
    #comment_input_textarea {
      display: none;
    }
    li.text {
      position: relative;

    }
  }
  
}


/* Activity feed */
.activities_index {
  padding-top: 2.5rem;
  h1 {
    text-transform: uppercase;
    font-family: $heebo;
    font-weight: 900;
  }
  h4 {
    text-transform: uppercase;
    font-family: $heebo;
    font-weight: 900;
  }
  
  table.activities {
    border-collapse: separate;
    border-spacing: 1rem;
    thead {
      th:first-child { 
        padding-left: 0;
      }
      th {
        font-family: $heebo;
        font-size: 1.875rem;
        background-color: white;
        border-bottom: 8px solid black;
        small {
          font-size: 1rem;
          a {
            color: $blue;}
        }
        .occluded {
          display: none;
          font-size: 0.9rem;
        }
      }
    }
    tr td:first-child {
      padding-left: 0;
    }
    tbody {
      tr {
        border-bottom: 1px solid $yellow;
        td {
          span.error {
            color: red;
          }
          font-family: $ptsans;
          font-size: 1rem;
          a {
            color: $blue;
          }
          &.temps {
            min-width: 120px;
            word-break: break-all;
            i {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

.transfer_dialogue {
  h1 {
    text-transform: uppercase;
  }
  form {
    label {
      &.label {
        font-family: $heebo;
        font-size: 1.875rem;
        font-weight: 900;
        padding: 0.688rem 0;
        margin: 0.9rem 0;
        border-bottom: 8px solid black;
      }
    }
    a.add_nested_fields {
      font-family: $heebo;
      font-size: 1.875rem;
      font-weight: 900;
      padding: 0.688rem 0;
      margin: 0.9rem 0;
      border-bottom: 8px solid black;
    }
    .row {
      .columns {
        padding-left: 0;
      }
    }
    input, textarea {
      border: 2px solid $yellow;
      &:focus {
        outline: 1px solid $yellow;
      }
    }
    input[type=submit] {
      font-size: 1.125rem;
    }
  }
}

// static pages
.page {
  padding: 2.4rem 0;
  h1 ,h2, h3, h4, h5, h6  {
    font-family: $heebo;
    font-weight: 900;
    padding-bottom: 0.6rem;
    border-bottom: 5px solid black;
    margin-bottom: 1rem;
    float: left;
  }
  .body {
    clear: both;
    font-size: 1.125rem;
    p {
      clear: both;
      font-size: 1.125rem;
    }
  }
}

.devise_new_session {
  padding: 2rem 0;
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 3rem;
  }
  h3 {
    font-family: $heebo;
    margin: 3rem 0;
    text-align: center;
  }
  i {
    font-size: 5.5rem;
    &.yellow {
      font-size: 8rem;
      color: #fded57;
      margin-left: -26px;
      margin-top: -44px;
      small {
        font-size: 1.1rem;
      }
    }
  }
  p {
    padding-top: 2rem;
    font-family: $heebo;
    font-weight: 900;
    font-size: 1.875rem;
    &.spiel {
      font-size: 1.1rem;
      font-weight: 400;
      font-family: $ptsans;
      padding: 0;
    }
  }
  
  form {
    label {
      font-weight: 400;
    } 
    p {
      padding: 0;
      font-size: 1rem;
      font-weight: 400;
      font-family: $ptsans;
      &.inline-hints {
        font-size: 0.8rem;
        font-weight: 400;
        color: #666;
        font-style: italic;
      }
    }
   
  }
  #manual_login {
    margin-top: 2.5rem;
    p {
      font-size: 1.15rem;
      
    }
    a.forgot {
      margin: 1rem 0 0 2rem;
    }
  }
}

// footer
footer {
  background-color: $black;
  color: $yellow;
  padding: 2.5rem 0;
  position:absolute;
  bottom:0;
  width:100%;
  min-height: 7.5em;
  .text {
    font-size: 1.133em;
    font-family: $ptsans;
    font-weight: bold;
    float: left;
    padding-top: 0.4rem;
  }
  .logos {
    float: left;
    a {
      padding: 0 2rem;
    }
  }
}


.fc-unthemed tbody {
  background: transparent;
}
.fc-content.roomcalendar_tobook {
  background-color: $yellow;
  border: 1px dotted black;
  
}

.fc-event.booking_link {
  background: none !important;
}
span.fc-time {
  span.cancelled {
    color: red;
  }
}

.fc-title {
  .roomcalendar_icon {
    min-height: 100px;
    background-size: cover;
    background-position: center/center;
  }
}

.registration_form {
  display: none;
  form {
    li {
      textarea {
        height: 90px;
      }
      input#registration_phone {
        width: 150px;
        margin-bottom: 5px;
      }
    }
  }
}

.opensession_overlay {
  .participant_grid {
    min-height: 120px;

    background-size: cover;
    .participant_overlay {
      background-color: $yellow;
      font-family: $inconsolata;

      position: relative;
      bottom: 20px;
      font-size: 0.8rem;
      
    }
  }
}

.home-lang {
  text-align: right;
 float: right;
 position: absolute;
 top: -4px;
 right: 10px;
  
}