.row
  .small-8.medium-9.columns.small-centered.text-center
    .text Temporary/Biathlon is powered by:
    .logos
      = link_to image_tag('kone_logo.png'), 'http://www.koneensaatio.fi/', target: :_blank
      = link_to image_tag('ethereum.png'), 'https://www.ethereum.org/', target: :_blank
      = link_to image_tag('monsteri_logo.png'), 'http://store.mansteri.com/', target: :_blank