.row
  .small-8.medium-9.columns.small-centered.text-center
    .text= t :temporary_biathlon_is_powered_by
    .logos
      = link_to image_tag(image_path('kone_logo.png')), 'http://www.koneensaatio.fi/', target: :_blank
      = link_to image_tag(image_path('ethereum.png')), 'https://www.ethereum.org/', target: :_blank
      = link_to image_tag(image_path('monsteri_logo.png')), 'http://store.mansteri.com/', target: :_blank