- if @temporary_is_open == true
  .open_or_closed
    %strong 
      is currently open!
- else
  .open_or_closed.closed
    %strong is not currently open.
    %br/
    %small= link_to '(When is Temporary open?)', '/pages/when-is-temporary-open'