-#- if @temporary_is_open == true
-#  .open_or_closed
-#    %strong= t :is_currently_open
-#
-#- else
-#  .open_or_closed.closed
-#    %strong= t :is_not_currently_open
-#    %br/
-#    %small= link_to "(#{t :when_is_temporary_open})", '/pages/when-is-temporary-open'

.open_or_closed
  .next= t(:temporary_one_year).html_safe
  .closed
    =  t(:temporary_the_future)
